<html>
<head>
    <title>Validator</title>
    <meta name="decorator" content="atl.admin">
</head>
<body>
<form id="validator" class="aui">
    <div class="field-group">
        <label for="number">Please, enter a positive integer number: </label>
        <input type="text" id="number" name="number" class="text">
    </div>
    <div class="field-group">
        <input type="submit" value="Submit" class="button">
    </div>
</form>
</body>
</html>