<html>
    <head>
        <title>Validator</title>
        <meta name="decorator" content="atl.admin">
    </head>
    <body>
        <p class="title">Please, enter a positive integer: </p>
        <form id="validator" class="aui" method="POST">
            <div class="field-group">
                <label for="number">Your value: </label>
                <input type="text" id="number" name="number" class="text">
            </div>
            <div class="field-group">
                <input type="submit" value="Submit" class="button">
            </div>
        </form>
    </body>
</html>