<html>
<head>
    <title>Validator</title>
</head>
<body>
<form id="validator">
    <div>
        <label for="number">Positive integer</label>
        <input type="text" id="number" name="number">
    </div>
    <div>
        <input type="submit" value="Save">
    </div>
</form>
</body>
</html>